/* Стили для экрана более 1280px */

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  align-content: center;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}