.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    align-self: end;
    justify-self: stretch;
}
  
    /* Стили для планшета */
  
  @media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
    }
  }
  
    /* Стили для смартфона */
  
    @media screen and (max-width: 320px) {
        .place__title {
            margin: 0 16px 0;
            font-size: 32px;
            line-height: 109%;
        }
    }