/* Стили для экрана более 1280px */

.photo-grid {
  margin: 0 auto 77px;
  max-width: calc(100% - 96px);
}

/* Стили для экрана от 768px до 1024px */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    margin: 0 auto 80px;
  }
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    margin: 0 auto 64px;
  }
}