/* Стили для экрана более 1280px */

.photo-grid {
  margin: 0 auto 92px;
  max-width: calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  box-sizing: border-box;
}

/* Стили для экрана от 1024px до 1280px */

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

/* Стили для экрана от 768px до 1024px */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .photo-grid {
    margin: 0 auto 88px;
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0 auto 64px;
    max-width: calc(100% - 32px);
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}