/* Стили для экрана более 1280px */

.places {
  margin: 0 auto 92px;
  padding: 0;
  max-width: calc(100% - 296px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Стили для экрана от 1024px до 1280px */

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

/* Стили для экрана от 768px до 1024px */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin: 0 auto 90px;
    max-width: calc(100% - 48px);
  }
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
  .places {
    margin: 0 auto 67px;
    max-width: 100%;
  }
}