.places {
    margin: 92px auto 0;
    padding: 0;
    max-width: calc(100% - 296px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Стили для планшета в альбомной ориентации */

@media screen and (max-width: 1024px) {
    .places {
        margin: 92px auto 0;
        max-width: calc(100% - 96px);
    }
  }
  
    /* Стили для планшета */
  
  @media screen and (max-width: 768px) {
    .places {
        margin: 88px auto 0;
        max-width: calc(100% - 48px);
    }
  }
  
    /* Стили для смартфона */
  
    @media screen and (max-width: 320px) {
        .places {
            margin: 64px auto 0;
            max-width: 100%;
        }
    }