/* Основной код для разрешения 1280px */

  .lead {
    margin: 56px auto 0;
    max-width: calc(100% - 296px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Стили для планшета в альбомной ориентации */

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
    max-width: calc(100% - 96px);
  }
}

  /* Стили для планшета */

@media screen and (max-width: 768px) {
  .lead {
    margin: 48px auto 0;
    max-width: 100%;
  }
}

  /* Стили для смартфона */

  @media screen and (max-width: 320px) {
    .lead {
      margin: 48px auto 0;
      max-width: calc(100% - 4px);
    }
  }