/* Стили для экрана более 1280px */

.place__paragraphs {
    margin: 0;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
    .place__paragraphs {
        margin: 0 auto 0;
        max-width: calc(100% - 32px);
    }
}