/* Стили для экрана более 1280px */

.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px 0;
    text-align: left;
}

.place__paragraph:last-of-type {
    margin: 0;
}

/* Стили для экрана от 1024px до 1280px */

@media screen and (max-width: 1279px) {
    .place__paragraph {
        margin: 0 0 27px 0;
    }
    }

/* Стили для экрана от 768px до 1024px */

@media screen and (max-width: 1023px) {
    .place__paragraph {
        margin: 0 0 25px 0;
        font-size: 16px;
        line-height: 26px;
    }
}

