/* Стили для экрана более 1280px */

.cover__text {
  margin: 0 auto;
  max-width: 560px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #ffffff;
  text-align: center;
}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
  .cover__text {
    max-width: 288px;
  }
}