.lead__figure {
    margin: 0 auto;
    max-width: 100%;
    /* Ниже убираем невидимый отступ, который давал +4px в данном блоке на всех разрешениях */
    line-height: 0;
}

/* Стили для экрана до 767px, где отступ невидимый отступ по макету нам не мешает */

@media screen and (max-width: 767px) {
    .lead__figure {
        line-height: initial;
    }
} 