/* Стили для экрана более 1280px */

.place {
    margin: 0 0 80px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
}

.place:last-of-type {
    margin: 0;
}

/* Стили для экрана от 1024px до 1280px */

@media screen and (min-width: 943px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
    }
}

/* Стили для экрана от 768px до 1024px */

@media screen and (min-width: 768px) and (max-width: 943px) {
    .place {
        margin: 0 0 50px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 48px 28px;
    }

    .place:nth-of-type(2n) {
        margin: 0 0 35px;
    }


    .place:nth-of-type(3n) {
        margin: 0 0 15px;
    }

}

/* Стили для экрана от 320px до 768px */

@media screen and (max-width: 767px) {
    .place {
        margin: 0 0 75px;
        grid-template-columns: 1fr;
        gap: 26px;
    }

    .place:nth-of-type(3n) {
        margin: 0 0 12px;
    }
}